@using Pokedex.Web.Configurations.Entities
@model PokemonDetailsVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pokemon</h4>
    <hr />
    <dl class="row">
        <dd class="col-sm-12">
            <img src="@Model.ImageUrl" width="100" style="border-radius:5px; border:1px solid #bbb9b9" />
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NacionalPokedexNumber)
        </dt>
        <dd class="col-sm-7">
            #@Html.DisplayFor(model => model.NacionalPokedexNumber)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Abilities)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Abilities)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole(Roles.Administrator))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    }

    <a asp-action="Index">Back to List</a>

</div>
